#  .env.example
#
#  Use this file as a template for setting environment variables.
#  Copy this file to ".env.local" and fill in the appropriate values.
#  Do not commit the ".env.local" file to git.
